project:
  type: website
  output-dir: docs

css:
  - https://lalten.github.io/lmweb/style/latinmodern-roman.css
mainfont: "Latin Modern Roman"
fontsize: 14pt
fontfamilyoptions: "oblique"

website:
  favicon: icon.png
  title: "Machine Learning Algorithms"
  
  page-navigation: true
  sidebar:
    collapse-level: 1
    tools:
    - icon: linkedin
      href: https://www.linkedin.com/in/sherry-thomassp/
    - icon: github
      href: https://github.com/SherryS997/Machine-Learning-Algorithms
    style: "docked"
    search: true
    contents:
      - href: index.qmd
        text: Home
      - href: pages/intro.qmd
        text: Introduction to MLA
      - section: "Unsupervised Learning"
        contents: 
          - section: "Representation learning"
            contents: 
              - href: pages/PCA.qmd
                text: Principal component analysis (PCA)
              - href: pages/Kernel_PCA.qmd
                text: Kernel PCA
          - section: "Clustering"
            contents: 
              - href: pages/kmeans.qmd
                text: K-means clustering
              - href: pages/kkmeans.qmd
                text: Kernel K-means clustering
          - section: "Estimation"
            contents: 
              - href: pages/mle.qmd
                text: Maximum likelihood estimation (MLE)
              - href: pages/bayes_est.qmd
                text: Bayesian estimation
              - href: pages/gmm.qmd
                text: Gaussian mixture model (GMM)
              - href: pages/em.qmd
                text: Expectation-maximization (EM) algorithm
      - section: "Supervised Learning"
        contents: 
          - section: "Regression"
            contents: 
              - href: pages/lin_reg.qmd
                text: Least squares regression
              - href: pages/klin_reg.qmd
                text: Kernel Least squares regression
              - href: pages/bayes_lin_reg.qmd
                text: Bayesian view of least squares regression
              - href: pages/rid_lin_reg.qmd
                text: Ridge regression
              - href: pages/lasso_lin_reg.qmd
                text: LASSO regression
          - section: "Classification"
            contents: 
              - href: pages/knn.qmd
                text: K-nearest neighbors (KNN)
              - href: pages/dec_trees.qmd
                text: Decision tree
              - section: "Generative models"
                contents: 
                  - href: pages/naive_bayes.qmd
                    text: Naive Bayes
              - section: "Discriminative models"
                contents: 
                  - href: pages/percp.qmd
                    text: Perceptron
                  - href: pages/log_reg.qmd
                    text: Logistic regression
                  - href: pages/svm.qmd
                    text: Support vector machines (SVMs)
              - section: "Ensemble methods"
                contents: 
                  - href: pages/bag.qmd
                    text: Bagging
                  - href: pages/boost.qmd
                    text: Boosting
      - section: "Deep Learning"
        contents: 
          - href: pages/notations_nn .qmd
            text: Notations
          - section: "Neural Networks"
            contents: 
              - href: pages/nn_basics.qmd
                text: Introduction
              - href: pages/activations.qmd
                text: Activations
              - href: pages/ffn.qmd
                text: Forward Propagation
              - href: pages/backprop.qmd
                text: Backpropagation
              - href: pages/gradient.qmd
                text: Gradient Descent
      - href: about.qmd
        text: About me
format:
  html:
    theme: 
      light: [zephyr, styles_light.scss]
      dark: [darkly, styles.scss]
    toc: true



