/*-- scss:defaults --*/
@font-face {
  font-family: "Latin Modern";
  src: url("_assets/lm2.004otf/lmroman8-regular.otf");
}

h1 {
    text-transform: initial;
    font-weight: normal;
  }

h2 {
    text-transform: initial;
    font-weight: normal;
  }

h3 {
    text-transform: initial;
    font-weight: normal;
  }

h4 {
    text-transform: initial;
    font-weight: normal;
  }

h5 {
    text-transform: initial;
    font-weight: normal;
  }

h6 {
    text-transform: initial;
    font-weight: normal;
  }
