/*-- scss:defaults --*/
h1 {
    text-transform: initial;
    font-weight: normal;
  }

h2 {
    text-transform: initial;
    font-weight: normal;
  }

h3 {
    text-transform: initial;
    font-weight: normal;
  }

h4 {
    text-transform: initial;
    font-weight: normal;
  }

h5 {
    text-transform: initial;
    font-weight: normal;
  }

h6 {
    text-transform: initial;
    font-weight: normal;
  }
