/*-- scss:defaults --*/
h1 {
    color: white;
    text-transform: initial;
  }

h2 {
    color: white;
    text-transform: initial;
  }

h3 {
    color: white;
    text-transform: initial;
  }

h4 {
    color: white;
    text-transform: initial;
  }

h5 {
    color: white;
    text-transform: initial;
  }

h6 {
    color: white;
    text-transform: initial;
  }
